%section.jumbotron.sign
  .container.col-sm-offset-4
    %h1 Sign in
    %article.well.col-sm-5
      = form_tag sign_in_path, class: "form-horizontal", role: "form" do |f|
        .form-group
          = label_tag :email, "Email", class: "control-label col-sm-3"
          .col-sm-9
            = text_field_tag :email, nil, class: "form-control"
        .form-group
          = label_tag :password, "Password", class: "control-label col-sm-3"
          .col-sm-9
            = password_field_tag :password, nil, class: "form-control"
        .form-group
          .col-sm-9.col-sm-offset-3
            = submit_tag "Sign in", class: "btn btn-primary form-control"