%section.jumbotron.dashboard
  .container
    %span.welcome
      %h1 Welcome to DevPledge, #{current_user.first_name}
      %h3 A community of developers helping each other
      %p Mentor the next generation of developers or learn from the best
.container
  .row
    .col-sm-6
      %h2.mid-headers Select language of your choice
      %div.list-group
        - @languages.each do |language|
          = link_to language, class: "list-group-item" do
            %span.badge= language.total_skills
            %h4.list-group-heading= language.name
            %p.list-group-text= Faker::Lorem.words(3).join(" ")
    .col-sm-6
      %table.table
        %thead
          %tr
            %th(colspan="7" style="text-align: center;") Signed For
          %tr
            %th(width="3%") #
            %th(width="17%") Language
            %th(width="20%") When?
            %th(width="15%") Status
            %th(width="23%") Feedback
            %th(width="22%") Mentor
        %tbody
          - current_user.mentee_sessions.each_with_index do |mentee_session, index|
            %tr
              %td= (index + 1)
              %td= mentee_session.skill.language.name
              %td= short_date(mentee_session.created_at)
              %td= mentee_session.status
              %td{id: "feedback_ms_#{mentee_session.id}"}= secondary_status(mentee_session)
              %td= link_to mentee_session.mentor_short_name, user_path(mentee_session.mentor)
  %h2.mid-headers How to get started?
  %h4 We are excited to help you grow as developer. Here is how it works:
  %dl.queue.col-sm-8
    %dt.col-sm-2
      %span.cirle 1
    %dd.col-sm-10
      %h4 Select a language or framework
      %p 
        %em Improve your skills or provide help to others. Just select a field of expertise.
    %dt.col-sm-2
      %span.cirle 2
    %dd.col-sm-10
      %h4 Pick or become a Mentor
      %p
        %em Select any professional for mentoring or code reviewing or simply become a mentor.
    %dt.col-sm-2
      %span.cirle 3
    %dd.col-sm-10
      %h4 Give or receive 1 hour coding help
      %p
        %em Choose one and get in touch with your mentor to boost your skills
%div.feedback