%section.jumbotron.skills
  .container
    %h1
      %span.glyphicon.glyphicon-list
      #{@language.name} Mentors
    = link_to new_skill_path, class: "btn btn-danger btn-lg", role: "button" do
      %span.glyphicon.glyphicon-certificate
      Become a Mentor
%article.container.skill_mentors
  .row
    - @language.skills.each do |skill|
      .col-sm-6.col-md-4
        .thumbnail{id: "mentor_#{skill.mentor.id}"}
          = image_tag(@language.image_url, alt: @language.name)
          .caption
            %h3.mentor-name= link_to skill.mentor.full_name, skill.mentor
            %p
              Experience since:
              %span.badge= skill.experience.year
            %p Code helped in: #{skill.helped_total} projects
            %p
              = link_to "Recommendations:", skill_feedbacks_path(skill), data: { toggle: "modal", target: "#recommendationsModal"}, remote: true
              %span.badge= skill.total_feedbacks
            %p.thumbnail-buttons
              Ask for:
              = link_to "Mentoring", mentoring_sessions_path(skill_id: skill.id, support: "mentoring"), method: :post, class: "btn btn-primary #{'disabled' if skill.mentor == current_user}"
              = link_to "Code Review", mentoring_sessions_path(skill_id: skill.id, support: "code review"), method: :post, class: "btn btn-default #{'disabled' if skill.mentor == current_user}"
%div.skill_feedbacks