%section.jumbotron.skills
  .container
    %h1
      %span.glyphicon.glyphicon-list
      #{@language.name} Mentors
    = link_to new_skill_path, class: "btn btn-danger btn-lg", role: "button" do
      %span.glyphicon.glyphicon-certificate
      Become a Mentor
%article.container.skill_mentors
  .row
    - @language.skills.each do |skill|
      .col-sm-6.col-md-4
        .thumbnail{id: "mentor_#{skill.mentor.id}"}
          = image_tag(@language.image_url, alt: @language.name)
          .caption
            %h3.mentor-name= skill.mentor.full_name
            %p
              Experience since:
              %span.badge= skill.experience.year
            %p Code helped in: #{skill.helped_total} projects
            %p
              %a(href="" data-toggle="modal" data-target="#RecommendationModal") Recommendations:
              %span.badge= skill.total_feedbacks
            %p.thumbnail-buttons
              = link_to "Mentoring", queue_items_path(skill_id: skill.id, support: "mentoring"), method: :post, class: "btn btn-primary"
              = link_to "Code Review", queue_items_path(skill_id: skill.id, support: "code review"), method: :post, class: "btn btn-default"
              