%section.jumbotron.skills
  .container
    %h1
      %span.glyphicon.glyphicon-list
      #{@language.name} Mentors
    = link_to '#', class: "btn btn-danger btn-lg", role: "button" do
      %span.glyphicon.glyphicon-certificate
      Become a Mentor
%article.container.skill_mentors
  .row
    - @language.skills.each do |skill|
      .col-sm-6.col-md-4
        .thumbnail
          = image_tag(@language.image_url, alt: @language.name)
          .caption
            %h3.mentor-name= skill.mentor.full_name
            %p
              Experience since:
              %span.badge skill.experience
            %p Code helped in: #{skill.helped_total} projects
            %p
              %a(href="" data-toggle="modal" data-target="#RecommendationModal") Recommendations:
              %span.badge skill.total_feedbacks
            %p.thumbnail-buttons
              = link_to "Mentoring", '#', class: "btn btn-primary", role: "button"
              = link_to "Code Review", '#', class: "btn btn-primary", role: "button"
              