%section.jumbotron.user
  .container
    .row
      .col-sm-2
        .thumbnail.circ
          = image_tag("code monkey.png", alt: @user.full_name)
      .col-sm-10
        %h1.user-name= @user.full_name
        %h4.contact= @user.email
    %h2 About
    %p
    - if @user.about_me.blank?
      User has not provided any information.
    - else
      = @user.about_me  
    %article.skill_mentors
      - if @user.skills.empty?
        %h2 User is not providing any mentoring.
      - else
        %h2 Mentoring in these areas
      .row
        - @user.skills.each do |skill|
          .col-sm-6.col-md-4
            .thumbnail{id: "mentor-skill-#{skill.id}"}
              = image_tag(skill.language.image_url, alt: skill.language.name)
              .caption
                %p
                  Experience since:
                  %span.badge= skill.experience.year
                %p Code helped in: #{skill.helped_total} projects
                %p
                  = link_to "Recommendations:", skill_feedbacks_path(skill), remote: true
                  %span.badge= skill.feedbacks.count
                %p.thumbnail-buttons
                  Ask for:
                  = link_to "Mentoring", mentoring_sessions_path(skill_id: skill.id, support: "mentoring"), method: :post, class: "btn btn-primary #{'disabled' if current_user.mentor?(skill)}"
                  = link_to "Code Review", mentoring_sessions_path(skill_id: skill.id, support: "code review"), method: :post, class: "btn btn-default #{'disabled' if logged_in? && current_user.mentor?(skill)}"
%div.skill_feedbacks