%section.jumbotron.user
  .container
    .row
      .col-sm-2
        .thumbnail.circ
          = image_tag("code monkey.png", alt: "John Smith")
      .col-sm-10
        %h1.user-name= @user.full_name
        %h4.contact= @user.email
    %h2 About
    %p
    - if @user.about_me.blank?
      "User has not provided any information."
    - else
      = @user.about_me  
    %article.skill_mentors
      %h2 Mentoring in these areas
      .row
        - @user.skills.each do |skill|
          .col-sm-6.col-md-4
            .thumbnail
              = image_tag(skill.language.image_url, alt: skill.language.name)
              .caption
                %p
                  Experience since:
                  %span.badge= skill.experience.year
                %p Code helped in: #{skill.helped_total} projects
                %p
                  = link_to "Recommendations:", skill_feedbacks_path(skill), data: { toggle: "modal", target: "#recommendationsModal"}, remote: true
                  %span.badge= skill.feedbacks.count
                %p.thumbnail-buttons
                  Ask for:
                  = link_to "Mentoring", mentoring_sessions_path(skill_id: skill.id, support: "mentoring"), method: :post, class: "btn btn-primary #{'disabled' if skill.mentor == current_user}"
                  = link_to "Code Review", mentoring_sessions_path(skill_id: skill.id, support: "code review"), method: :post, class: "btn btn-default #{'disabled' if skill.mentor == current_user}"
%div.skill_feedbacks