%section.jumbotron.sign
  .container
    %h1(style="text-align: center;") Mentor next generation developers
    .col-sm-offset-3
      %article.well.col-sm-7
        = form_for @skill, html: { class: "form-horizontal", role: "form" } do |f|
          .form-group
            = f.label :language_id, "Skill", class: "control-label col-sm-3"
            .col-sm-9
              = f.collection_select :language_id, Language.all, :id, :name, { prompt: "Select a language or framework" }, { class: "form-control" }
          .form-group
            = f.label :description, "Description", class: "control-label col-sm-3"
            .col-sm-9
              = f.text_area :description, rows: 4, placeholder: "Write couple lines about your skill chosen.", class: "form-control"
          .form-group
            = f.label :experience, "Experience", class: "control-label col-sm-3"
            .col-sm-9
              = f.date_select :experience, { start_year: 2000, end_year: Date.today.year, discard_day: true, discard_month: true, prompt: { year: "Select a year" }, with_css_classes: true }, { id: "skill_experience", class: "form-control" }
          .form-group
            .col-sm-9.col-sm-offset-3
              = f.submit "Sign the pledge", class: "form-control btn btn-danger"