%section.jumbotron.sign
  .container
    %h1.become-mentor Mentor next generation developers
    .col-sm-offset-3
      %article.well.col-sm-7
        = bootstrap_form_for @skill, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8" do |f|
          .form-group
            = f.collection_select :language_id, Language.all, :id, :name, { prompt: "Select a language or framework" }
          .form-group
            = f.text_area :description, rows: 4, placeholder: "Write couple lines about the experience you have with the language or framework chosen."
          .form-group
            = f.date_select :experience, { label: "Experience since", start_year: 2000, end_year: Date.today.year, discard_day: true, discard_month: true, prompt: { year: "Select a year" }, with_css_classes: true }, { id: "skill_experience" }
          .form-group
            .col-sm-9.col-sm-offset-3
              = f.submit "Sign the pledge", class: "form-control btn btn-danger sign-the-pledge"