%nav.navbar.navbar-default.layout(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="")
        %span.bracket { dev: 
        %span= image_tag("search_monkey.png", alt: "search_monkey", size: "70x50")
        %span.bracket pledge }
    %ul.nav.navbar-nav.pull-right
      %li= link_to "Credit: -10 hours"
      %li= link_to "Dashboard"
      %li= link_to "Account"
      %li
        = link_to "" do
          %i.glyphicon.glyphicon-log-out
          Sign out