%section.jumbotron.mentoring_session
  .container
    %h1 Mentoring Sessions
.container
  .row
    %fieldset
      - if @mentoring_sessions.empty?
        %h2 There are no ongoing mentoring sessions for you.
      - else
        = form_tag update_mentoring_sessions_path, method: :patch do
          %table.table
            %thead
              %tr
                %th(width="5%") Order
                %th(width="20%") Language
                %th(width="18%") Sign up date
                %th(width="13%") Requester
                %th(width="12%") Type
                %th(width="13%") Status
            %tbody
              - @mentoring_sessions.each do |mentoring_session|
                %tr{id: "ms_#{mentoring_session.id}"}
                  = hidden_field_tag "mentoring_sessions[][id]", mentoring_session.id
                  %td= text_field_tag "mentoring_sessions[][position]", mentoring_session.position, class: "form-control"
                  %td= mentoring_session.skill.language.name
                  %td= l mentoring_session.created_at, format: :standard_time
                  %td= link_to mentoring_session.mentee.full_name, user_path(mentoring_session.mentee)
                  %td= mentoring_session.support
                  %td= select_tag "mentoring_sessions[][status]", options_for_select(status_options, mentoring_session.status), class: "form-control"
          = submit_tag "Update Sessions", class: "btn btn-default"